<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="/user/list">用户列表</a></h1>
<div>标签，我很霸道</div>
<span>我是span1，我不霸道</span>
<span>我是span2，我也不霸道</span>
<a href="https://www.baidu.com/">点击跳转</a>
<a href="/">点击跳转</a>
<img style="height: 100px"  src="/static/虚幻编辑器.png">
<img src="https://img2.baidu.com/it/u=3202947311,1179654885&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500">
<h1>三大运营商</h1>
    <ul>
        <li>移动</li>
        <li>联通</li>
        <li>电信</li>
    </ul>
    <ol>
        <li>移动</li>
        <li>联通</li>
        <li>电信</li>
    </ol>
    <h1>数据表格</h1>
    <table  border="1">
        <thead>
            <tr>  <th>ID</th> <th>NAME</th> <th>AGE</th> </tr>
        </thead>
        <tbody>
            <tr>  <td>111</td> <td>zhu</td> <td>11</td>  </tr>
            <tr>  <td>222</td> <td>liang</td> <td>12</td>  </tr>
        </tbody>
    </table>
 <input type="submit"    value="提交">-->提交表单
    <h1>输入框和密码框</h1>
        <input type="text" >
        <input type="password" >
        <input type="file" >
        <input type="radio" name="n1">男
        <input type="radio" name="n1">女
        <input type="checkbox" >篮球
        <input type="checkbox" >足球
        <input type="button"    value="提交">-->普通的按钮
        <input type="submit"    value="提交">-->提交表单
        <h1>下拉框</h1>
        <select>
             <option>北京</option>
             <option>伤害</option>
             <option>深圳</option>
             <option>南京</option>
        </select>
        <select multiple>
             <option>北京</option>
             <option>伤害</option>
             <option>深圳</option>
             <option>南京</option>
        </select>
        <h1>多行文本</h1>
        <textarea rows="5"></textarea>


</body>
</html>