<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>用户列表</h1>
  <table border="1">
    <thead>
         <th>ID</th>
         <th>头像</th>
         <th>姓名</th>
         <th>邮箱</th>
         <th>更多</th>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td>
            <img src="/static/头像5.jpg" alt="帅哥" style="height:50px"/>
          </td>

           <td>shabi </td>
           <td>33fjfdk@qq.com</td>
           <td>脑子有是的人</td>

        </tr>

    </tbody>
  </table>

</body>
</html>